@import url("animations.css");

/* responsive */
@import "style-768.css" screen and (max-width: 768px);

@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}

body {
    margin: 0;
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.main h2 {
    width: fit-content;
    align-self: center;
}

.logo {
    display: block;
    width: 128px;
    height: 128px;
    background-image: url("src/skill-development.svg");
    background-size: 128px 128px;
    align-self: center;
    /* animation */
    animation: flip 8s infinite;
    transform-origin: 56px 71px; /* change div origin */
}